__pycache__
.venv
venv
local/
.env
.DS_Store

.aider*
.vscode

# Terraform state and providers
/.terraform/

# Ignore all content inside environments directories...
**/environments/*

# ...but re-include the environment templates and their content.
!**/environments/dev-infra-example/
!**/environments/staging/
!**/environments/prod/

genmedia-agent-demos
.gemini
.agents
output_subtitles/